.App {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

select {
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
}

main {
  margin-top: 30px;
}

main div {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

nav {
  margin: 30px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

nav button {
  border: none;
  border-radius: 8px;
  padding: 8px;
  background: black;
  color: white;
}

nav button:hover {
  background: tomato;
  cursor: pointer;
}

nav button[disabled] {
  background: grey;
  cursor: revert;
  transform: revert;
}

nav button[aria-current] {
  background: deeppink;
  font-weight: bold;
  cursor: revert;
}
