.cont-select {
    width: 200px;
    margin: 100px auto 0;    
}

.select-btn {
    width: 100%;
    padding: 13px 20px 13px 14px;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    background: url(image/icon-Triangle-down.png) no-repeat;
    background-position: right 14px center;  
}

.select-btn:focus {
    outline: 3px solid #F8E4FF;
    border: 1px solid #9B51E0;
}

.select-btn.on {
    background-image: url(image/icon-Triangle-up.png);
}

.list-language {
    display: none;
    margin-top: 20px;
    border: 1px solid #c4c4c4;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.select-btn.on+.list-language {
    display: block;
}

.list-language li {
    padding: 7px;
}

.list-language li button {
    display: block;
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    text-align: left;
}

.list-language li button:focus,
.list-language li button:hover {
    background-color: #F8E4FF;
}
