/* reset */
* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
button {
    border-style: none;
} 

body {
    padding: 50px
}


/* design */
.select-btn {
    width: 200px;
    height: 40px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    background: url(image/icon-Triangle-down.png) no-repeat;
    background-position: 90% 50%;
    margin-bottom: 6px;
    cursor: pointer;
}
.select-btn p {
    margin-left: 13px;
    line-height: 40px;
    font-size: 14px;
}
.language-list {
    width: 200px;
    height: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: none;
}
.language-list li {
    width: 200px;
    height: 40px;
    line-height: 40px;
    
}
.language-list li p {
    margin-left: 13px;
    font-size: 14px;
}
.language-list li:hover {
    width: 184px;
    height: 30px;
    border-radius: 8px;
    background-color: #F8E4FF;
    /* margin: 5px 8px; */
}
