#app {
    overflow: hidden;
    border: 2px solid lightpink;
    border-radius: 10px;
}

.editor {
    min-height: 150px;
    padding: 10px;
}

.options {
    display: flex;
    padding: 8px;
    margin: 0;
    list-style: none;
    border-bottom: 2px solid lightpink;
    background-color: lightblue;
}

.options li:nth-child(4n) {
    margin-right: 8px;
}

.options li button {
    border: 1px solid lightskyblue;
    background-color: lightgoldenrodyellow;
    padding: 4px;
}

.options li button:hover {
    background-color: lightcoral;
    border: 1px solid lightcoral;
}